* {
  /* margin: 0; */
  padding:0%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.ln-header{
  background: #3ad2f8;
  display: block;
  padding: 20px;
}

.ln-nav{
 max-width: 90%;
     border: 2px solid #000000;
  display: block;

  margin: 30px auto 5px auto;

}

.ln-nav div
{
  display: table;
  padding: 10px;
  margin: 0px auto;
}

.ln-nav div ul li{
display: inline;
word-spacing: 30px;
}


.ln-nav div ul button {
  border-style: hidden;
  font-size: 20px;
  background-color: #3ad2f8;
}


.ln-nav div ul li a:hover{

  color: #ec3c6a;
}

.ln-list::after{
  content: url("../images/circle.png");


}

/*header ends here and sections start*/


/* slider */

.ln-slider{
  position: relative;
}


.ln-sliderimage{
  width: 100%;
 display: block;


}
.bold{
  padding-bottom: 5px;
  font-size: 3vw;
  font-weight: 900;
}
.simple{
  font-size: 2.5vw;
}

.ln-slidertext{
position: absolute;
 top: 30%;
left: 50%;
  color: #fff;
}


/* hotel contents*/

.ln-hotel:focus {
  outline: none;
}

.ln-hotel a:focus {
  outline: none;
}

.ln-hotel{
  display: block;
  background: #353535;
  max-width: 33.33%;
  width: 33.33%;
}


.ln-hotel img{
  max-width: 100%;
  width: 100%;
}



.ln-hotel p{
  font-size: 2.5vw;
  color: rgb(0, 225, 233);
  text-align: center;
  padding: 5%;


}

.ln-hotel a{
  text-decoration: none;
}

.ln-hotel a p:hover{
  color: #ec3c6a;


}

.s{
  padding-bottom: 1%;
}

.flex{
  display: flex;
}


/* booking message */

.ln-bookings{
  max-width: 30%;
  width: 30%;
  margin: 1.5% 12% 1.5% 10%;
}

.ln-bookingssection{
  display: inline;
}

.ln-bookimage{
  display:inline;
  max-width: 100%;
  width: 40%;
  height:auto;
padding-bottom: 0%;


}

.ln-bookings div{
  display: inline-block;
  max-width: 75%;
  padding: 0%;
}

.ln-bookings p{
  font-size: 1.5vmax;

}
.ln-bookings .b{
  padding-bottom: 2%;
  font-weight: 700;
}


/* book button */

.ln-res{
  background: #cc4151;
  padding: 2%;
}


.ln-resbutton p{
  display: table;
  max-width: 30%;
  margin: 0 auto;
  font-size: 2.5vw;
   padding: 2%;
  color: #fff;
  font-weight: 700;
  border: 1px solid #fff;

}
.ln-resbutton a{
   text-decoration: none;
}

.ln-resbutton p:hover{
  color: #ec3c6a;
  background: #fff;
}



/* footer */

.ln-footer{
   background: #211f17;
  display: block;
  padding: 20px;
  position: relative;

}

.ln-us{
  display: inline-table;
  max-width: 30%;
  width: 30%;
  margin: 2% 0 2% 4%
}

.ln-address{
  display: inline-table;
  max-width: 30%;
  width: 30%;
   margin: 2% 0 2% 25%
}

.ln-us .bold, .ln-address .bold{
  color: #ec3c6a;
  font-size: 1.5vw;
  font-weight: 700;
  padding-bottom: 4%;
}

.ln-us p, .ln-address p{
  color: #fff;
  font-size: 1.2vw;
}

.ln-media{
 display: inline;
  margin: 0 0 0 59%;

}
.ln-media p{
  color: #ec3c6a;
}

.ln-media img{
margin: 0.5%;
  width: 4%;
  height: auto;

}

.ln-up
{
  position: absolute;
  top: 20%;
  right: 3%;
  width: 3%;
  height: auto;

}

.ln-review:focus{
  outline: none;
}

.ln-revcon:focus{
  outline: none;
}






